better-profanity==0.7.0
click==8.3.0
et_xmlfile==2.0.0
gensim==4.4.0
joblib==1.5.2
langdetect==1.0.9
nltk==3.9.2
numpy==2.3.4
openpyxl==3.1.5
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.11.3
scipy==1.16.3
six==1.17.0
smart_open==7.5.0
tqdm==4.67.1
tzdata==2025.2
wrapt==2.0.1
