/* Reset and base styles */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: none;
}

body {
  display: block;
  background-color: #000;
}

#root {
  height: 100%;
  width: 100%;
  max-width: none;
}
